@import './vendor.css';

html[data-wkhs] body::after {
  display: none !important;
}

html[data-wkhs],
html[data-wkhs] body {
  background-color: var(--color-bg-light);
  color: var(--color-primary);
  font-family: var(--font-primary), sans-serif;
  cursor: auto;
}

html[data-wkhs] .wkhs-root {
  min-height: 100svh;
  background-color: var(--site-bg, var(--color-bg-light));
  color: var(--site-color, var(--color-primary));
}

html[data-wkhs] .wkhs-header__logo img {
  width: clamp(11.25rem, 14.583vw, 13.125rem);
  height: auto;
  display: block;
}

html[data-wkhs] .wkhs-header__nav-item--wip img {
  width: calc(var(--s) * 6);
  height: auto;
  display: block;
  transform: translateY(0.17rem);
}

html[data-wkhs] .wkhs-footer__scroll-to-top img {
  width: 1.2em;
  height: 1.2em;
}

html[data-wkhs] .heading--hg {
  font-size: var(--fs-hg);
  line-height: var(--lh-hg);
}

html[data-wkhs] .picture--loaded {
  background: none !important;
}

html[data-wkhs] .wkhs-menu--open {
  --pointer-events: all;
  --opacity: 1;
}

html[data-wkhs] .wkhs-header {
  --header-text-color: var(--color-primary);
}

html[data-wkhs] .wkhs-header a {
  color: var(--header-text-color);
}

html[data-wkhs] .wkhs-header--menu-open {
  --header-text-color: var(--color-primary-contrast);
}

html[data-wkhs] .wkhs-footer {
  position: relative;
  z-index: 1;
}

html[data-wkhs] .wkhs-footer__intersection-ref {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

html[data-wkhs] .page-culture {
  background-color: var(--color-bg-pink-light);
}

html[data-wkhs] .list-article .article {
  display: block;
  color: inherit;
  text-decoration: none;
}

html[data-wkhs] .wkhs-footer__bottom-start img {
  width: 100%;
  height: auto;
}
